:root {
  --dark: #835134;
  --light: #eddcd2;
  --white: #fff1e6;
  --accent1: #ddbea9;
  --accent2: #a5a58d;
}

body {
  background-color: white;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-width: 230px; */
  max-width: 550px;
}

.input-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.complete-button {
  height: 30px;
  border: none;
  background-color: var(--accent2);
}

.complete-button-active {
  background-color: var(--dark);
}

.new-todo {
  height: 30px;
  flex: 1;
  /* border-radius: 10px; */
  border: 1px solid black;
}

.new-todo:focus {
  border: 2px solid black;
}

.todo {
  display: flex;
  flex-direction: column;
  /* width: 30vw; */
  min-width: 500px;
  gap: 10px;
}

.todo p {
  word-wrap: break-all;
}

.todos {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.task {
  display: flex;
  padding: 0 2vw 0 2vw;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light);
  /* border-radius: 20px; */
  min-height: 60px;
}

.task-content {
  flex: 1;
  margin: 0;
}

.delete-button {
  border: none;
  background-color: transparent;
}

.editing {
  background-color: var(--accent2);
}

.summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;

  gap: 1vw;
}

.hide {
  display: none;
}

.completed {
  background-color: var(--dark);
}

.button-selected {
  color: #ce796b;
}

a {
  appearance: none;
  text-decoration: none;
  color: gray;
}

p {
  margin: 0;
}

.filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.filter a {
  border: 1px solid gray;
  border-radius: 3px;
  padding: 3px 7px;
}

h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: gray;
}
