.todo__filters {
  display: grid;
  grid-auto-flow: column;
  gap: 5px;
}

@media screen and (min-width: 1024px) {
  .todo__filters a:hover {
    background-color: var(--gray200);
  }
}

@media screen and (max-width: 1023px) {
  .todo__filters {
    flex-direction: column;
    grid-auto-flow: row;
  }

  .todo__filters a {
    text-align: center;
  }
}

.todo__filters a {
  border: 1px solid gray;
  border-radius: 3px;
  padding: 3px 7px;
}