.input_state_editing{
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

.input_state_editing {
  background-color: transparent;
  border: none;
}

.input_state_editing {
  background-color: transparent;
  border: none;
}
